@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none !important;
}

.bg-primary-600 {
    background-color: var(--primary-color, #1d4ed8);
}

.text-primary-600 {
    color: var(--primary-color, #1d4ed8);
}